<%
  current_user_id = session["current_user_id"]
  app_name = ENV["APP_NAME"]
%>

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title><%= app_name %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%== csrf_metatag %>
    <link rel="stylesheet" type="text/css" href="/main.bundle.css" />
    <script type="text/javascript" src="/index.bundle.js"></script>
  </head>

  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" id="title-logo" href="#"><%= app_name %></a>
        <a class="navbar-item" href="#">Post</a>
        <a class="navbar-item" href="#">Explore</a>
        <a class="navbar-item is-hidden-desktop" href='<%= current_user_id ? "/logins/sign_out" : "/logins/sign_in" %>'>
          <% if current_user_id %>
             Log Out
          <% else %>
            Log In
          <% end %>
        </a>
        <% if current_user_id %>
          <a class="navbar-item is-hidden-desktop" href='<%= "/users/#{current_user_id}/edit" %>'>Settings</a>
        <% else %>
          <a class="navbar-item is-hidden-desktop" href="/users/new">Sign Up</a>
        <% end %>
      </div>

      <div id="nav-start" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href='<%= current_user_id ? "/logins/sign_out" : "/logins/sign_in" %>' class="button is-dark">
                <% if current_user_id %>
                  Log Out
                <% else %>
                  Log In
                <% end %>
              </a>
              <% if current_user_id %>
                <a class="button is-light" href='<%= "/users/#{current_user_id}/edit" %>'>Settings</a>
              <% else %>
                <a href="/users/new" class="button is-light">
                  Sign Up
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main id="app" class="hero is-dark is-fullheight">
      <div>
        <flash-message 
          message="<%= flash["message"] %>"
          klass="<%= flash["klass"] %>"></flash-message>
        <%== yield %>
      </div>
    </main>
  </body>
</html>
